.color-primary {
    color: #663391
}
.color-secondary {
    color: #6084A4;
}
.color-secondary-2 {
    color: #8E2B8D;
}
.color-faded {
    color: #C4C4C4;
}
.bg-primary {
    background-color: #663391;
}
.bg-secondary {
    background-color: #6084A4;
}
.bg-secondary-2 {
    background-color: #8E2B8D;
}
.header {
    font-weight: 500;
    font-size: 24px;
    color: #663391;
}
.input-primary {
    background: #E5E5E5;
    border-radius: 30px;
    height: 64px;
    font-weight: 500;
    font-size: 14px;
    color: #000000;
}
.individual-btn {
    background: #663391;
    border-radius: 30px;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    padding: 11px 31px;
}
.form .tab-content {
    width: 586px;
    height: 232px;
    margin: auto;
    background: #ECECEC;
    border-radius: 0px 30px 30px 30px;
    padding: 46px 31px;
}
.form .tabs ul {
    width: 586px;
    margin: auto;
    text-align: left;
}
.form .tabs ul li {
    display: inline-block;
    padding: 16px 46px;
    font-weight: 500;
    font-size: 18px;
    color: #000000;
}
.form .tabs ul li.active {
    background: #ECECEC;
    border-radius: 30px 30px 0px 0px;
    color: #663391;
    font-weight: 600;
}
.renew-cover-button {
    background: #663391;
    border-radius: 30px;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    padding: 11px 31px;
}
.renew-cover-input {
    width: 100%;
    background-color: #E5E5E5;
    color: #000000;
    border-radius: 30px;
    padding: 23px 22px;
    margin-bottom: 28px;
    outline: none;
    font-size: 12px;
}
.renew-cover-input::placeholder {
    font-weight: 500;
    font-size: 12px;
    color: #C4C4C4;
}
.enrollee-border {
    height: 71px;
    width: 2px;
    background-color: #C4C4C4;
}
.plan-price-box {
    background-color: #663391;
    width: 127px;
    height: 127px;
    border-radius: 30px;
    text-align: center;
}
.plan-duration-box {
    background-color: #8E2B8D;
    width: 127px;
    height: 127px;
    border-radius: 30px;
    text-align: center;
}
.loader {
    height: 50px !important;
    width: 50px !important;
    display: inline-block;
}
.toastify {
    background-color: #5cb85c;
    color: #FFFFFF;
}
.entity-dob {
    background: #E5E5E5;
    border-radius: 30px;
    height: 64px;
    font-weight: 500;
    font-size: 14px;
    color: #000000;
    padding: 0 1.5rem;
    width: 100%;
    outline: none;
}